body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    padding: 15px;
    background: #222;
    color: #fff;
}

form input, form button {
    padding: 5px;
    margin: 5px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
    padding: auto;
}

.movie-card {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-card img {
    width: 100%;
    border-radius: 6px;
}

.pagination {
    text-align: center;
    margin: 10px;
}

button.page-btn {
    margin: 0 5px;
    padding: 10px 15px;
}

.modal {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.7);
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
}

#close-modal {
  float: right;
  font-size: 1.5rem;
  cursor: pointer;
}

button.page-btn {
  margin: 0 5px;
  padding: 0.5rem 0.8rem;
  border: none;
  background: #eee;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

button.page-btn:hover {
  background: #ddd;
}

button.page-btn.active {
  background: #222;
  color: #fff;
}